@import "tailwindcss";

@theme {
  --color-zinc-850: #1f1f22;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;

  --color-primary-500: #6366f1;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}
